# Python Fundamentals: Introduction to Pandas

* * * 

<div class="alert alert-success">  
    
### Learning Objectives 
    
* Load .csv files into a Pandas `DataFrame`.
* Understand that Pandas can be used for exploratory analysis.
* Learn how to select columns and rows in a Pandas `DataFrame`.
</div>


### Icons Used in This Notebook
üîî **Question**: A quick question to help you understand what's going on.<br>
ü•ä **Challenge**: Interactive exercise. We'll work through these in the workshop!<br>
üí° **Tip**: How to do something a bit more efficiently or effectively.<br>
‚ö†Ô∏è **Warning:** Heads-up about tricky stuff or common mistakes.<br>
üìù **Poll:** A Zoom poll to help you learn!<br>
üé¨ **Demo**: Showing off something more advanced ‚Äì so you know what Python can be used for!<br>

### Sections
1. [Data Frames: Spreadsheets in Python](#df)
2. [Selecting Columns](#columns)
3. [Selecting Rows](#rows)
4. [Demo: Grouping and Plotting Data Frames](#group)

<a id='df'></a>

# Data Frames: Spreadsheets in Python

**Tabular data** is everywhere. Think of an Excel sheet: each column corresponds to a different feature of each datapoint, while rows correspond to different samples.

In scientific programming, tabular data is often called a **data frame**. In Python, the `pandas` package contains an object called `DataFrame` that implements this data structure.

## Importing Packages

A **package** is a collection of code that someone else wrote and put in a sharable format. Usually it's designed to add specific functionalities to Python. The package we will use in this notebook is called Pandas.

Before we can use a package like Pandas, we have to **import** it into the current session.
Importing is done with the `import` keyword. We simply run `import [PACKAGE_NAME]`, and everything inside the package becomes available to use.

For many packages, like `pandas`, we use an **alias**, or nickname, when importing them. This is just done to save some typing when we refer to the package in our code.

Let's import the `pandas` module, and add the alias `pd`.

In [ ]:
import pandas as pd

### `ImportError`

If you encounter an `ImportError` when trying to import a package, it means that package has not been installed in your Python environment or is not accessible from your current environment. 

You can resolve this by using the command `!conda install package_name` directly within a Jupyter cell, replacing `package_name` with the name of the package you need. 

Why the exclamation mark `!`? It allows you to run **shell commands** from within a Jupyter Lab notebook. A **shell command** is a simple instruction you type to tell your computer to do something, like installing a program or managing files.In Jupyter Lab, you can use these instructions by starting with an exclamation mark `!` in a cell to make your computer do tasks, like installing a package.

In [ ]:
# Uncomment the following line to install pandas
#!conda install pandas

## ü•ä Challenge 1: From Dictionary to Data Frame

You can easily build a data frame from a dictionary. However, the following code gives an error. Why does it have an error? 

üí° **Tip:** Google the line at the bottom of the error message if you need help!

In [1]:
country = ['Afghanistan', 'Greece']
continent = ['Asia', 'Europe', 'Africa']
life_exp = [28, 76, 46]

country_dict = {
    'country': country,
    'continent': continent,
    'life_exp': life_exp}

pd.DataFrame(country_dict)

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

## Our Data

For the rest of this workshop we will work with a dataset from [Gapminder](https://en.wikipedia.org/wiki/Gapminder_Foundation). The dataset contains data for 142 countries, with values for life expectancy, GDP per capita, and population, every five years, from 1952 to 2007.

## Reading CSV Files

In the cell below, we use the `read_csv()` method, which takes a string as its main argument. This string consists of a **relative file path** pointing to the file. It is **relative** because we are referring to the location of the file in relation to the current working directory, rather than using an absolute path that specifies the entire directory structure from the root.

üí° **Tip:** a directory is also called a folder.

* `../` means "go up one folder from where this notebook is" -- which is the "lessons" folder.
* `Data/` means 'go into a folder called "data".
* `gapminder.csv` is the file name we are accessing within that "data" folder.

<img src="../img/filetree.png" alt="Navigating File Tree" width="500"/>

üí° **Tip:** When dealing with file paths, especially in complex directory structures, remember that relative paths like `../folder_name` only take you up one directory level at a time. If you need to traverse multiple levels, you can chain these commands together (e.g., `../../folder_name` to go up two levels). 

Additionally, if your path requires navigating through several folders, consider using an **absolute path** from the home folder (`~/`), or a well-defined environment variable that points to a common base folder. This approach reduces errors and makes your code more portable across different systems.

In [5]:
df = pd.read_csv('../Data/gapminder.csv')

The `.head()` method will show the first five rows of a Data Frame by default. 

üí° **Tip**: Put an integer in between the parentheses to specify a different number of rows.

In [6]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

### More on .csv Files
As data scientists, we'll often be working with these **Comma Seperated Values (.csv)** files. 

Comma separated values files are common because they are relatively small and look good in spreadsheet software. A comma separated values file is just a text file that contains data but that has commas (or other separators) to indicate column breaks.

As you see, `pandas` comes with a function [`read_csv()`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
that makes it really easy to import .csv files.

Let's have a look at our .csv file in our browser!

<a id='columns'></a>

# Selecting Columns
Now that we have our `DataFrame`, we can select a single column by selecting the name of that column. This uses bracket notation (like we do when accessing lists).

Check it out:

In [7]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

The data type of this column is a `Series`. It's like a list. You can index a `Series` object just like you can with a list!

In [8]:
gap_country = df['country']
gap_country[0]

'Afghanistan'

## Using Methods on Columns

`DataFrame` objects come with their own methods, many of which operate on a single column of the DataFrame. 

For example, we can identify the number of unique values in each column by using the `nunique()` method:

In [9]:
df['year'].nunique()

12

Usually, a package provides **documentation** that explains all of its functionalities. Let's have a look at the documentation for a method called `value_counts()` [online](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html). 

üîî **Question**: What does `value_counts()` do in the code below?

In [10]:
df['year'].value_counts()

year
1952    142
1957    142
1962    142
1967    142
1972    142
1977    142
1982    142
1987    142
1992    142
1997    142
2002    142
2007    142
Name: count, dtype: int64

## ü•ä Challenge 2: Putting Methods in Order

In the following code we want to to find the top-3 most frequently occurring continents in our data. Put the following code fragments in the right order to get this information!

In [ ]:
.head(3)
.value_counts()
df['continent']

In [14]:
# First we get the count of unique values in the 'continent' column and then we get the top 3

df['continent'].value_counts().head(3)

continent
Africa    624
Asia      396
Europe    360
Name: count, dtype: int64

In [13]:
# Why not this?

df['continent'].head(3).value_counts()

continent
Asia    3
Name: count, dtype: int64

## Attributes 

Packages like Pandas don't only come with methods, but also with so-called **attributes**.

Attributes are like variables: they give you more information about the data that you have. Methods are like functions: they allow you to do something with data.

For instance, we can easily check the column names of our data frame using the `columns` **attribute**.

In [ ]:
df.columns

üîî **Question**: Here's another popular attribute: `shape`. What do you think it does?

In [ ]:
df.shape

## Jupyter Autocomplete

Jupyter Notebooks allow for tab completion, just like many text editors. If you begin typing the name of something (such as a variable) that already exists, you can simply hit **Tab** and Jupyter will autocomplete it for you. If there is more than one possibility, it will show them to you and you can choose from there.

üîî **Question:** Below we are selecting a column in our `DataFrame`. See what happens when you hit `TAB`! What are you seeing?

In [ ]:
# YOUR CODE HERE

df['continent'].

<a id='rows'></a>

# Selecting Rows

What if we wanted to get some rows in our dataset based on some condition? For example, what if we just wanted a select only the rows for which the country is Egypt? Or only rows from a particular year?

We can use so-called **value comparison operators** for this. For instance, to get only the rows that include data points from Egypt, we can use `==`.

In [15]:
df['country'] == 'Egypt'

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: country, Length: 1704, dtype: bool

üí° **Tip**: Fancy terminology alert: the above Series is called a **Boolean mask**. It's like a list of True/False labels that we can use to filter our Data Frame for a certain condition! We'll cover this further in Python Intermediate.

Here, we create a subset of our Data Frame with the fancy Boolean mask we just created.

In [16]:
# Getting only the data points from Egypt
df[df['country'] == 'Egypt']

    country  year         pop continent  lifeExp    gdpPercap
456   Egypt  1952  22223309.0    Africa   41.893  1418.822445
457   Egypt  1957  25009741.0    Africa   44.444  1458.915272
458   Egypt  1962  28173309.0    Africa   46.992  1693.335853
459   Egypt  1967  31681188.0    Africa   49.293  1814.880728
460   Egypt  1972  34807417.0    Africa   51.137  2024.008147
461   Egypt  1977  38783863.0    Africa   53.319  2785.493582
462   Egypt  1982  45681811.0    Africa   56.006  3503.729636
463   Egypt  1987  52799062.0    Africa   59.797  3885.460710
464   Egypt  1992  59402198.0    Africa   63.674  3794.755195
465   Egypt  1997  66134291.0    Africa   67.217  4173.181797
466   Egypt  2002  73312559.0    Africa   69.806  4754.604414
467   Egypt  2007  80264543.0    Africa   71.338  5581.180998

Note that the output of this operation is a **new data frame**! We can assign it to a new variable so we can work with this subsetted data frame. Let's do it again:

In [17]:
# Creating a new data frame with data from 2002
egypt_df = df[df['country'] == 'Egypt']
egypt_df.head()

    country  year         pop continent  lifeExp    gdpPercap
456   Egypt  1952  22223309.0    Africa   41.893  1418.822445
457   Egypt  1957  25009741.0    Africa   44.444  1458.915272
458   Egypt  1962  28173309.0    Africa   46.992  1693.335853
459   Egypt  1967  31681188.0    Africa   49.293  1814.880728
460   Egypt  1972  34807417.0    Africa   51.137  2024.008147

## ü•ä Challenge 3: Subsetting Data Frames

Besides `==` we can use [other operators](https://www.w3schools.com/python/gloss_python_comparison_operators.asp) to compare values. For instance:
- `<` less than
- `>` greater than

Fill in the code below to subset our data frame to include only people with a life expectancy (`lifeExp`) less than 50.

In [18]:
df.shape

(1704, 6)

In [ ]:
# YOUR CODE HERE
df[df[...] < ...]

## ü•ä Challenge 4: Subsetting and Calculating the Mean

Let's make use of subsetting to do some calculation! Calculate the **mean life expectancy** for a continent of your choice. 

This means you will have to:
1. Subset the `continent` column using a Boolean mask.
2. Take the `lifeExp` column from that subset.
3. Apply a Pandas method to get the mean from that column.

You might not know how to get the mean of a column ‚Äì yet! If that's the case, **use your search engine**.

1. Enter the name of the computer language or package, and your question (for instance: "Pandas calculate mean").
2. Read and compare the results you find.
3. Try 'em out!

In [ ]:
# YOUR CODE HERE

<a id='group'></a>

# üé¨ Demo: Grouping and Plotting Data Frames

There is a lot more you can do in Pandas. Take your learning further with [**Parts 4-6 of Python Fundamentals**](https://github.com/dlab-berkeley/Python-Fundamentals) or D-Lab's [**Python Data Wrangling**](https://github.com/dlab-berkeley/Python-Data-Wrangling) workshop. 

[Register now](https://dlab.berkeley.edu/training/upcoming-workshops) to our upcoming workshops to learn more skills in Pandas, such as `groupby()`: a powerful operation that allows you to split data into groups based on some criteria. 

Here's a small demo of what you'll learn in [**Python Data Wrangling**](https://github.com/dlab-berkeley/Python-Data-Wrangling):

In [ ]:
import matplotlib.pyplot as plt

# Create new column with life expectancy sorted into 5 bins
df['lifeExpBins'] = pd.cut(df['lifeExp'], 5)

# Group by continent, get the "gdpPercap" column. 
# Learn more in D-Lab's Data Wrangling workshop!
df_grouped = df.groupby('continent')['lifeExpBins'].value_counts()

# Pivot the table and put it in a new DataFrame
ag = df_grouped.unstack()

# Plot barchart. Learn more in D-Lab's Data Visualization workshop!
ag.plot.bar();

# üéâ Well Done!

This workshop series took us through the basics of data analysis in Python:

- Using Jupyter notebooks
- Variables, data types, functions
- Looking through documentation
- Googling errors and debugging
- Manipulating data with Pandas

<div class="alert alert-success">

## ‚ùó Key Points

* Import a library into Python using `import <libraryname>`.
* Data frames allow you to work with tabular data (think Excel in Python).
* A .csv file is just a text file that contains data separated by commas.
* Use the `pandas` library to work with data frames.
* Data frames are typically assigned as `df`.
* `DataFrame` columns can be indexed using square brackets - e.g. `df[last_name]` indexes a column called "last_name" in `df`.
    
</div>